body { color: #000;}

#logo-bar {
	border-bottom: 1px solid #1968b1;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#logo { background: url("../img/cp_logo.png") no-repeat; width: 100px; margin-left: 1%;}

/*Bootstrap Style Overwrite*/
.page-header{ font-size: 1.2em; font-weight: bold; margin: 10px 0 0 0; }
.button{
	margin-bottom: 10px;
	border: 0;
	border-radius: 0;
}
table th, table td { overflow: hidden; }
footer { margin-top: 12%; font-size: 0.8em; }
footer > p { text-align: center;}
.table-header{
	padding: 0.5%;
	margin-left: 0%;
	font-weight: bold;
	width: 99%;
}
a{ cursor:pointer; color:#08407f;}
a:hover{ cursor:pointer; color:#000;}
.well{
	background-color:#555555;
	color:#FFFFFF;
	border: 0px;
	border-radius: 0px;
}
.table tbody + tbody{ border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }

/*Custom*/
.services > table > thead{ background-color: #4b6dc1; color: #FFF;}
.required{ font-weight: bold; color: red; font-size: 1.5em; }
div.type a{ float:left;}
.expandimg{ background:#ebebeb url(../img/img_arrow.png) no-repeat center left; }
.collapseimg{ background:#ebebeb url(../img/img_arrow_down.png) no-repeat center left; }
.alert{
	position: absolute; 
	background: #FFFB92;
    border: 1px solid #C5C5C5;
    color: #000000;
    font-weight: bold;
    margin-top: -10%;
    pointer: cursor;   
    padding: 10px;
}

table#typeTemplate td,
table#typeTemplate tr,
table#methodTemplate td,
table#methodTemplate tr{
	border: none;
}
table#methodTemplate .urls a{
	font-weight: bold;
}
