body {
	color: #000;
}
#logo-bar {
	border-bottom: 1px solid #1968b1;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#logo {
	background: url("../img/cp_logo.png") no-repeat;
	width: 100px;
	margin-left: 1%;
}
#slogan {
}
.page-header{
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0 0 0;	
}
table { table-layout: fixed; }

table th, table td { overflow: hidden; }

.services > table > thead, .well
{
	background-color: #4b6dc1;
	color: #FFF;
}
footer {
	margin-top: 12%;
	font-size: 0.8em;
}
footer > p {
	text-align: center;
}
.table-header{
	padding: 0.5%;
	margin-left: 0%;
	font-weight: bold;
	width: 99%;
}
	
.sub_heading{
background:#f0f0f0;
border-top:#dddddd 1px solid;
border-left:#dddddd 1px solid;
border-right:#dddddd 1px solid;
height:25px;
padding:5px;
font-size:15px;
color:#000;
}

.required{
	font-weight: bold;
	color: red;
	font-size: 1.5em;	
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}


/*Css Modified 30Nov2012*/
a{
	cursor:pointer;	
	color:#08407f;
	font-weight:bold;
}
a:hover{
	cursor:pointer;
	color:#000;
	font-weight:bold;
}
div.type a{
	float:left;
}
/*for arrow */
#btn-div{ 
    padding:10px 10px 10px 20px;
    font-size:14px;
    line-height:20px;
    color:white;
    }

#content-div{
        background:#fbfeff;
        display:none;
		border-bottom:#cccccc 1px solid;
		border-left:#cccccc 1px solid;
		border-right:#cccccc 1px solid;
		border-radius:0px 4px 4px 4px;
		padding:10px;
}
.clear{
    clear:both;
}
 
.expandimg{
    background:#f2f2f2 url(../img/img_arrow.png) no-repeat center left;
}

.collapseimg{
    background:url(../img/img_arrow_down.png) no-repeat center left;
}

.repdiv{
	background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

	margin-bottom:3px;
}


.alert{
	background: none repeat scroll 0 0 #FFFB92;
    border: 1px solid #C5C5C5;
    color: #000000;
    font-weight: bold;
    margin-top: -5%;
    position: absolute;
    padding:5px;
}

.delimiter{
	background-color: #f8f8f8;
}

.url_header{
background: #f2f9fe; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

font-weight:bold;
}
.txt_label {
font-weight:bold;
font-size:14px;
}