body {
	color: #000;
}
#logo-bar {
	border-bottom: 1px solid #1968b1;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#logo {
	background: url("../img/cp_logo.png") no-repeat;
	width: 100px;
	margin-left: 1%;
}
#slogan {
}
.page-header{
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0 0 0;	
}
table { table-layout: fixed; }

table th, table td { overflow: hidden; }

.services > table > thead, .well
{
	background-color: #4b6dc1;
	color: #FFF;
}
.table td
{
	font-weight: normal;
}

footer {
	margin-top: 12%;
	font-size: 0.8em;
}
footer > p {
	text-align: center;
}
.table-header{
	padding: 0.5%;
	margin-left: 0%;
	font-weight: bold;
	width: 99%;
}
		
.sub_heading{
background:#f0f0f0;
border-top:#dddddd 1px solid;
border-left:#dddddd 1px solid;
border-right:#dddddd 1px solid;
height:25px;
padding:5px;
font-size:15px;
color:#000;
}
.delimiter{
	background-color: #8AADC9;
}
.required{
	font-weight: bold;
	color: red;
	font-size: 1.5em;	
}
.alert{
	background: none repeat scroll 0 0 #FFFB92;
    border: 1px solid #C5C5C5;
    color: #000000;
    font-weight: bold;
    margin-top: -10%;
    position: absolute;
    padding: 5px;
}